body {
    padding-left: 30px;
}

.container {
    background-color: #8ca5c0;
}

.p-timestamp {
    font-size: small;
    margin: 0;
}

.p-comment {
    font-size: large;
    margin: 0;
}

#commentContainer {
    width: 50%;
    margin: 0 auto;
}

#img {
    max-width: 100%;
    height: auto;
}

#commentForm {
    padding: 5px 0px;
    display: block;
}

#imageContainer > * {
    margin: 3px;
    border: 2px solid #517394;
}
